<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input"><i class="fa fa-search"></i>Buscar productos, marcas y más</div>
                <div class="submit"></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a>
                </li>
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars burger"></i>
        </div>
    </header>   
    <form action="/" class="formcontainer" autocomplete="off">
        <label for="username"></label>
        <input type="text" name="username" id="usernamelogin" placeholder="Nombre de Usuario">
        <label for="password"></label>
        <input type="password" name="clave" id="passwordlogin" placeholder="Contraseña">
        <a href="/"><button class="loginbutton">Enviar</button></a>
    </form> 
    <footer>
        <div class="headersfooter">
            <article> 
                <div class="creditcard">
                <i class="fas fa-credit-card"></i>
            </div>
                <h4 class="firstheader">Pagá con tarjeta de crédito o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article> 
                <div class="gift">
                    <i class="fas fa-shopping-basket"></i>
            </div>
                <h4 class="secondheader">Envío gratis desde $2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <div class="shield">
                    <i class="fas fa-user-shield"></i>
            </div>
                <h4 class="thirdheader">Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </div>
            <h4 class="lastheader"> Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>  
</body>

</html>